<h1> Payment Results </h1>
    
<dl>
    <dt>APR </dt>
        <dd><%= @apr.to_s(:percentage, { :precision => 4 } ) %> </dd>
    <dt>Number of years</dt>
        <dd><%= @years %></dd>
    <dt> Principal </dt>
        <dd><%= @principal.to_s(:currency) %></dd>
    <dt> Payment </dt>
        <dd><%= @payment.to_s(:currency)  %></dd>

</dl>

<a href = "/payment/new">Calculate another payment