
<form action ="/payment/results">
    <label for="giraffe">APR</label>
    <input id="giraffe" type = "text" placeholder = "E.g. 5.42" name = "user_apr">
<div>
    <label for="apple">Number of years</label>
    <input id="apple" type = "text" placeholder = "How many years to repay?" name = "user_years">
</div>
<div>
    <label for="orange">Principal</label>
    <input id="orange" type = "text" placeholder = "How much principal?" name = "user_principal">
</div>

<div>
    <button>Calculate monthly payment </button>
</div>
</form>