<h1> Random Results </h1>
    
<dl>
    <dt>Minimum </dt>
        <dd><%= @lower %></dd>
    <dt>Maximum</dt>
        <dd><%= @upper %></dd>
    <dt>Random Number</dt>
        <dd><%= @result %></dd>

</dl>

<a href = "/random/new">Calculate another random number