
<form action ="/random/results">
    <label for="giraffe">Minimum</label>
    <input id="giraffe" type = "text" placeholder = "E.g. 1.5" name = "user_min">
<div>
    <label for="apple">Maximum</label>
    <input id="apple" type = "text" placeholder = "E.g. 4.5" name = "user_max">
</div>

<div>
    <button>Pick random number </button>
</div>
</form>