
<form action ="/square/results">
    <label for="giraffe">Enter a number</label>
    <input id="giraffe" type = "text" placeholder = "what number do you want to square?" name = "number">

    <button>Calculate square</button>

</form>
