
<form action ="/square/results">
    <label for="giraffe">Enter a number</label>
<div>
    <input id="giraffe" type = "text" placeholder = "What number do you want to square?" name = "number">
</div>

<div>
    <button>Calculate square</button>
</div>
</form>
